/* Add your global styles here */
:root {
  --white: #ffffff;
  --ink-black: #00171f;
  --deep-space-blue: #003459;
  --cerulean: #007ea7;
  --fresh-sky: #00a8e8;
  
  --primary-color: var(--fresh-sky);
  --secondary-color: var(--cerulean);
  --tertiary-color: var(--deep-space-blue);
  --background-dark: var(--ink-black);
  --text-light: var(--white);
}

.br-15 {
  border-radius: 15px;
}

/* Hide scrollbar while maintaining scroll functionality */
::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

html, body {
  -ms-overflow-style: none;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}